<div class="bg-gradient h-full">
	<slot />
</div>

<style>
	.bg-gradient {
		min-height: 100vh;
		padding: 0 0 2em 0;
		min-width: 100%;
		background: linear-gradient(180deg, #367CF4 0%, #70FA7E 100%);
	}
</style>
