---
import { t } from 'i18next';

export interface Props {
	/**
	 * The links to display in the header.
	 */
	links: {
		href: string;
		label: string;
	}[];
}

const { links } = Astro.props;
---

<header aria-label={t('components.header.aria-label')} id="home">
	<div class="mx-auto max-w-screen-lg py-4 px-4 sm:px-6 lg:px-8">
		<div class="flex h-16 items-center justify-between">
			<div class="flex-1 md:flex md:items-center md:gap-12">
				<a class="block text-white" href="/">
					<span class="sr-only">Home Test</span>
					<img
						class="h-10 w-auto"
						src="/assets/img/logo_white.png"
						alt={t('components.header.logoImageAlt')}
					/>
				</a>
			</div>

			<div class="md:flex md:items-center md:gap-12">
				<nav aria-label="Site Nav" class="hidden md:block">
					<ul class="flex items-center gap-6 text-sm">
						{
							links.map((link) => (
								<li>
									<a
										class="text-gray-50 transition font-montserrat font-bold hover:text-gray-900/75"
										href={link.href}
									>
										{link.label.toUpperCase()}
									</a>
								</li>
							))
						}
					</ul>
				</nav>

				<div class="flex items-center justify-center gap-4">
					<div class="flex items-center gap-4">
						
						<div class="block md:hidden">
							<button
								id="mobile-menu-button"
								type="button"
								class="rounded bg-gray-950 p-2 text-gray-600 transition hover:text-gray-600/75"
							>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									class="h-5 w-5"
									fill="none"
									viewBox="0 0 24 24"
									stroke="#fff"
									stroke-width="2"
								>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										d="M4 6h16M4 12h16M4 18h16"></path>
								</svg>
							</button>
							<div
								id="mobile-menu"
								class="hidden bg-gray-900 fixed top-0 left-0 right-0 bottom-0 px-4 py-7 transition-opacity z-50"
							>
								<div class="flex justify-between justify-items-center">
									<h2 class="text-lg font-bold text-white">
										{t('components.header.mobileMenuHeader').toUpperCase()}
									</h2>
									<button
										id="mobile-menu-close-button"
										class="rounded bg-gray-950 p-2 text-gray-600 transition hover:text-gray-600/75"
									>
										<svg
											xmlns="http://www.w3.org/2000/svg"
											class="h-5 w-5 text-gray-600 transition hover:text-gray-600/75"
											fill="none"
											viewBox="0 0 24 24"
											stroke="#fff"
											stroke-width="2"
										>
											<path
												stroke-linecap="round"
												stroke-linejoin="round"
												d="M6 18L18 6M6 6l12 12"></path>
										</svg>
									</button>
								</div>
								<ul class="flex-1">
									{
										links.map((link) => (
											<li class="bg-gray-600 my-4 p-2 rounded">
												<a
													class="block text-center text-gray-50 transition font-bold hover:text-orange-500/75"
													href={link.href}
												>
													{link.label.toUpperCase()}
												</a>
											</li>
										))
									}
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<script>
	const button = document.getElementById('mobile-menu-button');
	const menu = document.getElementById('mobile-menu');
	const closeButton = document.getElementById('mobile-menu-close-button');

	button?.addEventListener('click', () => {
		menu?.classList.toggle('hidden');
	});

	closeButton?.addEventListener('click', () => {
		menu?.classList.toggle('hidden');
	});
</script>

<style>
	a {
		box-sizing: border-box;
	}
</style>
